{% extends "layout.html" %}

{% block content %}
<style>
.wrong {
    background-color: rgb(255, 154, 154);
}
.correct {
    background-color: rgb(213, 255, 151);
}
</style>


<body onload="checkFailure()">
<br>
<div>
    <h4>Model Evaluation</h4>
    Use interpretor to test single message. Upload test data to evaluate entire dataset and obtain metrics.
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h6> 
                <span class="badge badge-secondary">Model</span> 
                <img src="{{ pt_icon }}" class="img-thumbnail" alt="PyTorch" width="50"> 
                <code>{{curr_model}}</code>
            </h6> 
            <hr><br>
            <h6><span class="badge badge-secondary">Input</span> Message</h6><br>
            <form method="POST" name="msg_form" enctype="multipart/form-data" onsubmit="return checkMsg()">
                <textarea class="form-control" name ="msg" rows="2">{{msg}}</textarea><br>
                <button class="btn btn-primary" id="interpretDiv" style="display:none" disabled>
                    <div class="loader"></div> Interpretating...
                </button>
                <input class="btn btn-primary" type="submit" value="Interpret" name="interpret" id="interpret" style="margin-left: 15px"/>
            </form>

        </div>

        <div class="col">
            <div class="card text-center">
                <h6 class="card-header bg-secondary text-white"><span class="badge badge-dark">Interpretor</span> Intent and Entities</h6>
                <div class="card-body text-left">
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <b>Intent:</b>
                                <input type="text" class="form-control" value="{{intent_msg}}"  readonly>
                            </div> 
                            <div class="col">
                                Confidence Score:
                                <input type="text" class="form-control" value="{{score}}"  readonly>
                            </div> 
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <b>Slot:</b>
                                <input type="text" class="form-control" value="{{slot_msg}}" readonly>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <br><hr><br>
    <div class="row">        
        <div class="card text-center" style="width: 70rem;">
            <h6 class="card-header bg-secondary text-white"><span class="badge badge-dark">Evaluate</span> Test Data</h6>
            <div class="card-body text-left">
                <h6><span class="badge badge-secondary">Input</span> Choose Test Data</h6>
                <form method="POST" name="test_form" enctype="multipart/form-data" onsubmit="return checkFolder()">
                    <div class="row"> 
                        <div class="col-sm-3"> 
                            <input type="file" name = "test_folder" webkitdirectory mozdirectory />
                        </div>
                        <div class="col-sm-9"> 
                            <button class="btn btn-primary" id="testDiv" style="display:none" disabled>
                                <div class="loader"></div> Testing...
                            </button>
                            <input class="btn btn-primary" type="submit" value="Start Test" name="test" id="test"/> 
                        </div>  
                    </div>                 
                </form>
                <br><hr>
                <h6><span class="badge badge-secondary">Output</span> Test Evaluation Results</h6>
                <br>
                <div class="form-group">
                    <b>Intent Metrics:</b>
                    <div class="row">
                        {% if metrics is defined%}
                        <div class="col">
                            Weighted Accuracy:
                            <input type="text" class="form-control" value="{{metrics['intent_accuracy']}}" readonly>
                        </div> 
                        <div class="col">
                            Weighted F1-Score:
                            <input type="text" class="form-control" value="{{metrics['intent_f1']}}" readonly>
                        </div>
                        <div class="col">
                            Weighted Precision:
                            <input type="text" class="form-control" value="{{metrics['intent_precision']}}" readonly>
                        </div>
                        <div class="col">
                            Weighted Recall:
                            <input type="text" class="form-control" value="{{metrics['intent_recall']}}" readonly>
                        </div>
                        <div class="col-sm-1">
                            <br> 
                            <button class="btn-sm btn-secondary" id="int_rpt_btn" data-toggle="tooltip" title="Show each individual intent evaluation in JSON" onclick="showPopover('intent_log','int_rpt_btn')"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg></button>
                        </div>
                        {% else %}
                        <div class="col">
                            Weighted Accuracy:
                            <input type="text" class="form-control" value="" readonly>
                        </div> 
                        <div class="col">
                            Weighted F1-Score:
                            <input type="text" class="form-control" value="" readonly>
                        </div>
                        <div class="col">
                            Weighted Precision:
                            <input type="text" class="form-control" value="" readonly>
                        </div>
                        <div class="col">
                            Weighted Recall:
                            <input type="text" class="form-control" value="" readonly>
                        </div>
                        <div class="col-sm-1">
                            <br>
                        </div>
                        {% endif %}
                    </div>
                    <br>
                    <div class="form-group" id="intent_log" style="display:none">
                        <div class="row">
                            <div class="col">  
                                {% if int_report is defined %}
                                <textarea class="form-control" rows="10" readonly>{{int_report}}</textarea>
                                {% else %}
                                <textarea class="form-control" rows="1" readonly></textarea>
                                {% endif %}
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="container">
                        <button class="btn-sm btn-secondary" id="int_btn" onclick="showInt()">Show Intent Results</button>
                        <br><br>
                    </div>
                    <div class="row" style="display:none" id="int_results">
                        <div class="container">            
                            <table class="table table-bordered table-hover table-condensed" readonly>
                                <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Message</th>
                                    <th>Intent Target</th>
                                    <th>Intent Prediction</th>
                                    <th>Confidence Score</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if int_pred is defined %}
                                {% for i in range(0,list_size) %}
                                    <tr>
                                        <td>{{i+1}}</td>
                                        <td>{{test_data[i]}}</td>
                                        <td {% if int_true[i] == int_pred[i] %} class="correct" {% else %} class="wrong" {% endif %}>{{int_true[i]}}</td>
                                        <td {% if int_true[i] == int_pred[i] %} class="correct" {% else %} class="wrong" {% endif %}>{{int_pred[i]}}</td>
                                        <td>{{confid_score[i]}}</td>
                                    </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% endif %}    
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr>
                    <br>
                    <b>Slot Metrics:</b>
                    {% if metrics is defined%}
                    <div class="row">
                        <div class="col">
                            Weighted Accuracy:
                            <input type="text" class="form-control" value="{{metrics['slot_accuracy']}}" readonly>
                        </div> 
                        <div class="col">
                            Weighted F1-Score:
                            <input type="text" class="form-control" value="{{metrics['slot_f1']}}" readonly>
                        </div>
                        <div class="col">
                            Weighted Precision:
                            <input type="text" class="form-control" value="{{metrics['slot_precision']}}" readonly>
                        </div>
                        <div class="col">
                            Weighted Recall:                     
                            <input type="text" class="form-control" value="{{metrics['slot_recall']}}" readonly>
                        </div> 
                        <div class="col-sm-1">
                            <br>
                            <button class="btn-sm btn-secondary" id="ent_rpt_btn" data-toggle="tooltip" title="Show each individual slot-sequence type evaluation in JSON"onclick="showPopover('entity_log','ent_rpt_btn')"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg></button>
                        </div>
                    </div>
                    <br>
                    {% else %}
                    <div class="row">
                        <div class="col">
                            Weighted Accuracy:
                            <input type="text" class="form-control" value="" readonly>
                        </div> 
                        <div class="col">
                            Weighted F1-Score:
                            <input type="text" class="form-control" value="" readonly>
                        </div>
                        <div class="col">
                            Weighted Precision:
                            <input type="text" class="form-control" value="" readonly>
                        </div>
                        <div class="col">
                            Weighted Recall:
                            <input type="text" class="form-control" value="" readonly>
                        </div>
                        <div class="col-sm-1">
                            <br> 
                        </div>
                    </div>
                    <br>
                    {% endif %}
                    <div class="form-group" id="entity_log" style="display:none">
                        <div class="row">
                            <div class="col">  
                                {% if slot_report is defined %}
                                <textarea class="form-control" rows="10" readonly>{{slot_report}}</textarea>
                                {% else %}
                                <textarea class="form-control" rows="1" readonly></textarea>
                                {% endif %}
                            </div>
                        </div>
                        <br>
                    </div>

                    <div class="container">
                        <button class="btn-sm btn-secondary" id="ent_btn" onclick="showEnt()">Show Slot Results</button>
                        <br><br>
                    </div>
                    <div class="row" style="display:none" id="ent_results">
                        <div class="container">         
                            <table class="table table-bordered table-hover table-condensed" readonly>
                                <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Message</th>
                                    <th>Slot Target</th>
                                    <th>Slot Prediction</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if slot_pred is defined %}
                                {% for i in range(0,list_size) %}
                                    <tr>
                                        <td>{{i+1}}</td>
                                        <td>{{test_data[i]}}</td>
                                        <td {% if slot_true[i] == slot_pred[i] %} class="correct" {% else %} class="wrong" {% endif %} >{{slot_true[i]}}</td>
                                        <td {% if slot_true[i] == slot_pred[i] %} class="correct" {% else %} class="wrong" {% endif %} >{{slot_pred[i]}}</td>  
                                    </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                {% endif %} 
                                </tbody>
                            </table> 
                        </div>
                    </div>
                    <hr>
                    <br>
                    <b>Other Metrics:</b>
                    {% if metrics is defined%}
                    <div class="row">
                        <div class="col-5"> 
                            <span data-toggle="tooltip" title="Semantic Frame Accuracy: accuracy of correct prediction of both intent and slot in input sequences.">
                                Semantic Frame Accuracy:  
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity" ><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="8"></line></svg>
                            </span>                   
                            <input type="text" class="form-control" value="{{metrics['sementic_frame_acc']}}" readonly>
                        </div> 
                        <div class="col-4">
                            Loss:
                            <input type="text" class="form-control" value="{{metrics['loss']}}" readonly>
                        </div>
                    </div>
                    <br>
                    {% else %}
                    <div class="row">
                        <div class="col-5"> 
                            <span data-toggle="tooltip" title="Semantic Frame Accuracy: accuracy of correct prediction of both intent and slot in input sequences.">
                                Semantic Frame Accuracy:  
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity" ><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12" y2="8"></line></svg>
                            </span>                    
                            <input type="text" class="form-control" value="" readonly>
                        </div> 
                        <div class="col-4">
                            Loss:
                            <input type="text" class="form-control" value="" readonly>
                        </div>
                    </div>
                    <br>
                    {% endif %}
                    <hr>
                    {% if cf_path is defined %}
                    <b>Confusion Matrix:</b>
                    <br><br>
                    <div class="row">
                        <img src="{{ cf_path }}" class="img-thumbnail" alt="Confusion Matrix" width="80%">
                    </div>
                    <br><hr>
                    <b>Histogram:</b>
                    <br><br>
                    <div class="row">
                        <img src="{{ hist_path }}" class="img-thumbnail" alt="Histogram" width="70%">
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>
</body>


{% endblock %}

{% block scripts %}

<script type="text/javascript">

    //Shows alert for any failures
    function checkFailure() {
        var fail = '{{ fail }}';
        var fail_msg = '{{ fail_message }}';
        if (fail == 'True'){
            alert(fail_msg);
        } 
    }

    //Checks if message entered
    function checkMsg(){
        var msg_val = document.forms["msg_form"]["msg"].value;
        if(msg_val == ""){
            alert("Please type input message.");
            return false;
        }else{
            document.getElementById('interpretDiv').style.display = "";
            document.getElementById('interpret').style.display = "none";
            return true;
        }   
    }

    //Checks for folder selected
    function checkFolder(){
        var fileVal = document.forms["test_form"]["test_folder"].value;
        //Checks if file selected
        if(fileVal != ""){
            document.getElementById('test').style.display = "none";
            document.getElementById('testDiv').style.display = "";
            return true;
        //Checks if file not chosen
        } else {
            alert("No folder has been chosen. Please select a folder.");
            return false;
        }
    }

    //Show or hide raw json logs
    function showLog() {
        var log = document.getElementById("json_log");
        var btn = document.getElementById("log_btn");
        if (btn.innerHTML === 'Show JSON <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>') {
            btn.innerHTML = "Hide JSON";
            log.style.display = "block";
        } else {
            btn.innerHTML = 'Show JSON <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>';
            log.style.display = "none";
        }
    }

    //Show or hide all intent results
    function showInt() {
        var results = document.getElementById("int_results");
        var btn = document.getElementById("int_btn");
        if (btn.innerHTML === "Show Intent Results") {
            btn.innerHTML = "Hide Intent Results";
            results.style.display = "block";
        } else {
            btn.innerHTML = "Show Intent Results";
            results.style.display = "none";
        }
    }

    //Show or hide all entity results
    function showEnt() {
        var results = document.getElementById("ent_results");
        var btn = document.getElementById("ent_btn");
        if (btn.innerHTML === "Show Slot Results") {
            btn.innerHTML = "Hide Slot Results";
            results.style.display = "block";
        } else {
            btn.innerHTML = "Show Slot Results";
            results.style.display = "none";
        }
    }

    function showPopover(rpt_str,btn_str){
        var results = document.getElementById(rpt_str);
        var btn = document.getElementById(btn_str);
        if (btn.innerHTML === '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>') {
            btn.innerHTML = "Hide";
            results.style.display = "block";
        } else {
            btn.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>';
            results.style.display = "none";
        }
    }

</script>
{% endblock %}