{% extends "layout.html" %}

{% block content %}
<br/>
<form class="form-check" action="{{url_for('save')}}" method = "POST" name = "SaveForm" enctype = "multipart/form-data">
  <div class="row">
    <div class="col-sm-5">
      <label for="title" class="col-sm-5 control-label">Filename (without extension)</label>
    </div>
    <div class="col-sm-5">
      <label for="type" class="col-sm-2 control-label">File Type</label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5">
      <input class="form-control " name="title" type="text" value={{filename}}>
    </div>
    <div class="col-sm-5">
      <select class="form-control" name="type" id="sel" {{"disabled" if merge}}>
        <option value='.md' {{"selected" if fileext == '.md' else "" }}>.md</option>
        <option value='.json' {{"selected" if fileext == '.json' else "" }} >.json</option>
      </select>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-10">
      <label for="content" class="col-sm-2 control-label">Content</label>
      <textarea class="form-control" name="content" style="height: 550px;">{{filecontent}}</textarea>
    </div>
  </div>
  <br>
  <div class="row">
    <input class = "btn btn-primary" type = "submit" value = "Save" name = "save" style="margin-left: 15px"/>
    <a class="btn btn-default" href="/edit">Cancel</a>
</div>
</form>

{% endblock %}

{% block script %}

{% endblock %}
