{% extends "layout.html" %}

{% block content %}

<style type="text/css">

.CodeMirror {
    /* Bootstrap Settings */
    box-sizing: border-box;
    font: inherit;
    font-family: inherit;
    font-size: 11px;
    display: block;
    min-height:500px;
    width: 100%;
    padding: 6px 12px;
    font-size: 11px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

</style>

<br/>
<form class="form-check" action="{{url_for('save_tf_pt')}}" method = "POST" name = "SaveForm" enctype = "multipart/form-data" onsubmit="return checkDataFormat()">
  <div class="row">
    <strong>Folder:</strong>
    <input class="form-control " name="folder_title" type="text" value={{folder_name}}>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <label for="label_title" class="col-sm-3 control-label"><strong>Intent:</strong></label>
    </div>
    <div class="col-sm-4">
      <label for="text_title" class="col-sm-4 control-label"><strong>Text Sequence:</strong></label>
    </div>
    <div class="col-sm-5">
      <label for="tags_title" class="col-sm-5 control-label"><strong>BIO Tag:</strong></label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <input class="form-control " name="label_title" type="text" value="{{label_name}}" style="font-size: 14px"  disabled>
    </div>
    <div class="col-sm-4">
      <input class="form-control " name="text_title" type="text" value="{{text_name}}" style="font-size: 14px" disabled>
    </div>
    <div class="col-sm-5">
      <input class="form-control " name="tags_title" type="text" value="{{tags_name}}" style="font-size: 14px" disabled>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <label for="label_content" class="col-sm-3 control-label"><strong>Content:</strong></label>
      <textarea class="form-control" name="label_content" id="label_content">{{label_content}}</textarea>
    </div>

    <div class="col-sm-4">
      <label for="text_content" class="col-sm-4 control-label"><strong>Content:</strong></label>
      <textarea class="form-control" name="text_content" id="text_content">{{text_content}}</textarea>
    </div>
      
    <div class="col-sm-5">
      <label for="tags_content" class="col-sm-5 control-label"><strong>Content:</strong></label>
      <textarea class="form-control" name="tags_content" id="tags_content">{{tags_content}}</textarea>
    </div>

  </div>
  <br>
  <div class="row">
    <input class = "btn btn-primary" type = "submit" value = "Save" name = "save" style="margin-left: 15px"/>
    <a class="btn btn-default" href="/edit/tf-pt">Cancel</a>
</div>
</form>
<br>

{% endblock %}

{% block scripts %}
<script type="text/javascript">

  //Codemirror editor for line numbers
  var label_editor = CodeMirror.fromTextArea(document.getElementById("label_content"), {
      lineNumbers: true,
      gutter: true,
      lineWrapping: false
  });

  var text_editor = CodeMirror.fromTextArea(document.getElementById("text_content"), {
      lineNumbers: true,
      gutter: true,
      lineWrapping: false
  });

  var tags_editor = CodeMirror.fromTextArea(document.getElementById("tags_content"), {
      lineNumbers: true,
      gutter: true,
      lineWrapping: false
  });

  function checkDataFormat() {
    //Separate examples by newline
    var label = label_editor.getValue();
    var label_array = label.split(/\r?\n/);
    var text = text_editor.getValue();
    var text_array = text.split(/\r?\n/);
    var tags = tags_editor.getValue();
    var tags_array = tags.split(/\r?\n/);
    
    //Check for equal training examples
    if ((label_array.length != tags_array.length) || (label_array.length != text_array.length)) {
      alert("Please ensure number of training examples match for all files!");
      return false;
    }
    //Check for equal tokens per training example
    var fail_flag = false;
    var row_num = [];
    for (var n = 0; n < text_array.length; n++){
      var curr_sentence = text_array[n].split(" ");
      var curr_tag_seq = tags_array[n].split(" ");
      curr_sentence = curr_sentence.filter(v => v != "");
      curr_tag_seq = curr_tag_seq.filter(v => v != "");
      if (curr_sentence.length != curr_tag_seq.length){
        row_num.push(n+1);
        fail_flag = true;
      }
    }
    if (fail_flag == true){
      var rows = row_num.join(', ');
      alert("Number of word tokens do not match number of tags in BIO-tag sequence. Please ammend row: " + rows + " to save.");
      return false;
    }


  }

</script>
{% endblock %}
