{% extends "layout.html" %}

{% block content %}
<br>
<div>
    <h5><img src="{{ rasa_icon }}" class="img-thumbnail" alt="RASA" width="50"> {{rasa_model}}</h5>   
    <div>Train your agent's machine learning model by adding new training phrases and intents in the form of markdown or json fomat. Configure NLU pipeline to customise model components and performance.</div>
</div>
<hr/>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h6><span class="badge badge-secondary">Step 1.</span> Choose Training Data</h6>
            <br>
            <form method="POST" name="data_form" enctype="multipart/form-data" onsubmit="return checkFile()">
                <input type="file" name="datafile" placeholder="Please choose a file"  style="margin-left: 15px"/>
                <input class="btn-sm btn-secondary" type="submit" value="Add" name="data" id="data" style="margin-left: 15px"/>
            </form>
            <br>
            <textarea class="form-control" id="data_file" rows="5" cols="70" readonly="true">{{train_data}}</textarea>
        </div>
        <div class="col">
            <h6><span class="badge badge-secondary">Step 2.</span> Choose RASA Pipeline</h6>
            <br>
            <form method="POST" name="config_form" enctype="multipart/form-data" onsubmit="return checkYML()">
                <input type="file" name="ymlfile" placeholder="Please choose a file"  style="margin-left: 15px"/>
                <input class="btn-sm btn-secondary" type="submit" value="Add" name="config" style="margin-left: 15px"/>
            </form>
            <br>
            <textarea class="form-control" id="config_file" rows="5" cols="70" readonly="true">{{config_data}}</textarea>
        </div>
    </div> 
    <hr>
    <form method = "POST" name = "train_form" enctype = "multipart/form-data" onsubmit="return showBar()">
        <div class="row">
            <div class="col-6">
                <h6><span class="badge badge-secondary">Step 3.</span> Give Model Name</h6>
                <br>
                <div class="alert alert-warning alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>WARNING:</strong> Training a new NLU model may take several minutes.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <input class="form-control" name="model_id" id="model_id" type="text" value="{{model_id}}" />
                </div>
            </div>
            <div class="col">
                <input type="submit" class="btn btn-primary" id="train" value="Start Training"/>
                <button class="btn btn-primary" id="trainDiv" type="button" style="display:none" disabled>
                    <div class="loader"></div>
                    Training...
                </button>
            </div>
        </div>
    </form>
    <br>
</div>

{% endblock %}

{% block scripts %}

<script type="text/javascript">

    //Checks for existing file with correct file type
    function checkFile(){
        var fileVal = document.forms["data_form"]["datafile"].value;
        //RegEx for valid file name and extensions.
        var pathExpression = "[?:[a-zA-Z0-9-_\.]+(?:.md|.json)";
        //Checks for wrong file type
        if(fileVal != ""){
            if(!fileVal.toString().match(pathExpression)){
                alert("Invalid file type. Please select .md / .json file type.");
                return false;
            }else{
                return true;
            }
        //Checks if file not chosen
        } else {
            alert("No file has been chosen. Please select a file.");
            return false;
        }
    }

    //Checks for existing file with correct file type
    function checkYML(){
        var fileVal = document.forms["config_form"]["ymlfile"].value;
        //RegEx for valid file name and extensions.
        var pathExpression = "[?:[a-zA-Z0-9-_\.]+(?:.yml|.md|.json)";
        //Checks for wrong file type
        if(fileVal != ""){
            if(!fileVal.toString().match(pathExpression)){
                alert("Invalid file type. Please select .yml / .md / .json file type.");
                return false;
            }else{
                return true;
            }
        //Checks if file not chosen
        } else {
            alert("No file has been chosen. Please select a file.");
            return false;
        }
    }

    //Checks for all pre-req for rasa train before submit
    function showBar() {
        //No training data or config file selected
        if ((document.getElementById("data_file").value == "" )||(document.getElementById("config_file").value == "")){
            alert('Please select Training Data and Configuration File.');
            return false;
        //No model name given
        }else if (!document.getElementById('model_id').value){
            alert('Please give Model Name.')
            return false;
        //Show loading bar and proceed
        }else{
            document.getElementById('trainDiv').style.display = "block";
            document.getElementById('train').style.display = "none";
            return true;
        }
    }

</script>
{% endblock %}