{% extends "layout.html" %}

{% block content %}
<br>
<div>
    <h4>Load Model</h4>
    Select existing trained NLU model to load into interface. Model must be in <u class="text-primary">opennlu/data/model</u> folder to appear here.
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <h6><span class="badge badge-secondary">Select</span> Model</h6><br><br>
    </div>
    <div class="row">
        <div class="col-4">
            <ul class="list-group centred">
                <a class="list-group-item  " style="background-color: #82009c; text-align: center; color: white;"><b>RASA</b></a>
                {% if rasa_not_loaded_list|length > 0 %}
                {% for model in rasa_not_loaded_list %}
                    <!--loop.index0 is index of jinja for loop-->
                    <a id="rasa_{{loop.index0}}" onclick="showLoadingRASA({{loop.index0}})" href="/load/adding?model={{model}}&type={{'rasa'}}" class="list-group-item" style="text-align: center;">{{model}} &nbsp&nbsp<div id="rasa_load_{{loop.index0}}" class="loader" style="display: none;"></div></a>
                {% endfor %}
                {% else %}
                   
                {% endif %}
            </ul>
        </div>
        <div class="col-4">
            <ul class="list-group centred">
                <a class="list-group-item  " style="background-color: #07af92; text-align: center; color: #ffa500;"><b>TensorFlow</b></a>
                {% if tf_not_loaded_list|length > 0 %}
                {% for model in tf_not_loaded_list %}
                    <!--loop.index0 is index of jinja for loop-->
                    <a id="tf_{{loop.index0}}" onclick="showLoadingTF({{loop.index0}})" href="/load/adding?model={{model}}&type={{'tensorflow'}}" class="list-group-item" style="text-align: center;">{{model}} &nbsp&nbsp<div id="tf_load_{{loop.index0}}" class="loader" style="display: none;"></div></a>
                {% endfor %}
                {% else %}
        
                {% endif %}
            </ul>
        </div>
        <div class="col-4">
            <ul class="list-group centred">
                <a class="list-group-item  " style="background-color: #f0f0f0; text-align: center; color: #ff4800;"><b>PyTorch</b></a>
                {% if pt_not_loaded_list|length > 0 %}
                {% for model in pt_not_loaded_list %}
                    <!--loop.index0 is index of jinja for loop-->
                    <a id="pt_{{loop.index0}}" onclick="showLoadingPT({{loop.index0}})" href="/load/adding?model={{model}}&type={{'pytorch'}}" class="list-group-item" style="text-align: center;">{{model}} &nbsp&nbsp<div id="pt_load_{{loop.index0}}" class="loader" style="display: none;"></div></a>
                {% endfor %}
                {% else %}
                
                {% endif %}
            </ul>
        </div>
    
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

    function showLoadingRASA(index){
        document.getElementById('rasa_load_'+index).style.display = "";
        document.getElementById('rasa_'+index).className = "list-group-item active"
        return true;
    }

    function showLoadingTF(index){
        document.getElementById('tf_load_'+index).style.display = "";
        document.getElementById('tf_'+index).className = "list-group-item active"
        return true;
    }

    function showLoadingPT(index){
        document.getElementById('pt_load_'+index).style.display = "";
        document.getElementById('pt_'+index).className = "list-group-item active"
        return true;
    }

</script>
{% endblock %}
